@mixin border-radius($radius: 10px) {
          border-radius: $radius;
       -o-border-radius: $radius;
     -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin box-shadow($shadow) {
  -webkit-box-shadow: unquote($shadow);
     -moz-box-shadow: unquote($shadow);
          box-shadow: unquote($shadow);
}

@mixin linear-gradient($start_color, $end_color, $start: top) {
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient($start, $start_color, $end_color);
  background-image:    -moz-linear-gradient($start, $start_color, $end_color);
  background-image:     -ms-linear-gradient($start, $start_color, $end_color);
  background-image:      -o-linear-gradient($start, $start_color, $end_color);
  background-image:         linear-gradient($start, $start_color, $end_color);
}

@mixin linear-gradient-with-stop($start_color, $stop_color, $end_color, $start: top) {
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient($start, $start_color, $stop_color, $end_color);
  background-image:    -moz-linear-gradient($start, $start_color, $stop_color, $end_color);
  background-image:     -ms-linear-gradient($start, $start_color, $stop_color, $end_color);
  background-image:      -o-linear-gradient($start, $start_color, $stop_color, $end_color);
  background-image:         linear-gradient($start, $start_color, $stop_color, $end_color);
}

@mixin radial-gradient($start, $mode, $color1, $color2, $color3) {
  background-image: -webkit-radial-gradient($start, $mode, $color1, $color2, $color3);
  background-image:    -moz-radial-gradient($start, $mode, $color1, $color2, $color3);
  background-image:     -ms-radial-gradient($start, $mode, $color1, $color2, $color3);
  background-image:      -o-radial-gradient($start, $mode, $color1, $color2, $color3);
  background-image:         radial-gradient($start, $mode, $color1, $color2, $color3);
}

@mixin transition($trans) {
  -webkit-transition: $trans;
     -moz-transition: $trans;
      -ms-transition: $trans;
          transition: $trans;
}

@mixin gradient-bar($primaryColor, $secondaryColor) {
  @include linear-gradient($primaryColor, $secondaryColor);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
  border-color: $secondaryColor $secondaryColor darken($secondaryColor, 15%);
  border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) fadein(rgba(0,0,0,.1), 15%);
}

@mixin border-color-top($color) {
  border-color: $color transparent transparent transparent;
}
@mixin border-color-right($color) {
  border-color: transparent $color transparent transparent;
}
@mixin border-color-bottom($color) {
  border-color: transparent transparent $color transparent;
}
@mixin border-color-left($color) {
  border-color: transparent transparent transparent $color;
}
