
@mixin gradient-bar($primaryColor, $secondaryColor) {
  @include background(linear-gradient($primaryColor, $secondaryColor));
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
  border-color: $secondaryColor $secondaryColor darken($secondaryColor, 15%);
  border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) fadein(rgba(0,0,0,.1), 15%);
}

@mixin border-color($orientation, $color) {
  @if $orientation == top {
    border-color: $color transparent transparent transparent;
  } @else if $orientation == right {
    border-color: transparent $color transparent transparent;
  } @else if $orientation == bottom {
    border-color: transparent transparent $color transparent;
  } @else if $orientation == left {
    border-color: transparent transparent transparent $color;
  }
}

@mixin smallipop-arrow($inner-color, $outer-color) {

  &:before { @include border-color(top, $outer-color); }
  &:after { @include border-color(top, $inner-color); }

  @each $orientation in bottom, left, right {
    &.smallipop-#{$orientation} {
      &:before { @include border-color(#{$orientation}, $outer-color); }
      &:after { @include border-color(#{$orientation}, $inner-color); }
    }
  }
}
