/* default theme */
$default-arrow-color: #1a2634;
$default-arrow-border-color: $base-color;

.smallipop-theme-default {
  text-shadow: $default-text-shadow;
  @include box-shadow($default-box-shadow);
  @include border-radius($default-border-radius);
  @include background(linear-gradient(rgba(49, 75, 100, 0.9), rgba(26, 38, 52, 0.9)));

  a {
    text-shadow: $default-link-text-shadow;
  }

  .smallipop-content {
    border-top: 1px solid #586d82;
    @include border-radius($default-border-radius);
  }

  @include smallipop-arrow($default-arrow-color, $default-arrow-border-color);
}
.cssgradients.rgba .smallipop-theme-default {
  background-color: transparent;
}
