/* white theme */
$white-arrow-color: #fcfcfc;
$white-arrow-border-color: #777;
$white-background-color: #fcfcfc;
$white-transparent-border-color: rgba(255, 255, 255, 0.8);

.smallipop-theme-white {
  background-color: $white-background-color;
  border-color: $white-arrow-border-color;
  color: #444;
  width: 200px;
  max-width: 200px;
  @include box-shadow(0 1px 4px rgba(0, 0, 0, 0.1));
  @include border-radius(3px);

  @include smallipop-arrow($white-arrow-color, $white-arrow-border-color);

  .smallipop-content {
    text-align:center;
    @include border-radius(6px);
  }

  .smallipop-tour-progress {
    color: #777;
  }
  .smallipop-tour-close-icon {
    background: #fafafa;
    color: #555;
    text-shadow: 0 1px 1px #fff;

    &:hover {
      background: #f5f5f5;
      color: #222;
    }
  }
  .smallipop-tour-prev,
  .smallipop-tour-next,
  .smallipop-tour-close {
    color: #666;
    background: #f0f0f0;

    &:hover {
      color: #333;
      background: #f4f4f4;
    }
  }
}

/* white theme extended, requires rgba support */
.smallipop-theme-white-transparent {
  background-color: $white-transparent-border-color;
  border: 0;

  @include smallipop-arrow($white-transparent-border-color, transparent);
}
